<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-default">Clear Players</button>
        <button class="btn btn-default" ng-click="completeTeams()">Complete Teams</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Players : {{players.length}}</th>
            </tr>
            <tr ng-repeat="player in players track by player.Index">
                <td>{{player.Name}}</td>
                <td>{{player.Rating}}</td>
                <td><a href="#" class="glyphicon glyphicon-remove-sign" ng-click="removePlayer(player)"></a></td>
            </tr>
        </table>
        <input type="text" ng-model="newPlayer.Name"/>
        <input type="number" ng-model="newPlayer.Rating"/>
        <button class="btn btn-default" ng-click="addPlayer()">Add player</button>
        
    </div>
    <div class="col-lg-6">
        <h3>Teams</h3>
        <table class="table table-striped" ng-repeat="team in teams track by team.Id">
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Players average rating : {{team.Rating}}</th>
            </tr>
            <tr ng-repeat="player in team.Players track by player.Id">
                <td>{{player.Name}}</td>
                <td>{{player.Rating}}</td>
                <td><</td>
            </tr>
        </table>
    </div>
</div>